NODE_ENV = 
DEVELOPMENT_ADDRESS = 
TEST_ADDRESS = 
PRODUCTION_ADDRESS = 
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACTIVATION_TOKEN_SECRET= 
MAILING_SERVICE_REFRESH_TOKEN=
SENDER_EMAIL_ADDRESS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_ID=
FACEBOOK_SECRET=
JWT_TOKEN=
JWT_REFRESH_TOKEN=
PLACES_API_ENDPOINT = 
PLACES_SEARCH_API_ENDPOINT = 
API_KEY = 
