NODE_ENV = production
DEVELOPMENT_ADDRESS = 192.168.0.37
TEST_ADDRESS = 192.168.0.37
PRODUCTION_ADDRESS = 38.242.239.1
CLOUDINARY_NAME=dqpsoxe38
CLOUDINARY_API_KEY=397899364657857
CLOUDINARY_API_SECRET=pOiX3QEkSlqRQph7B4DzFnl9AHs
TWILIO_ACCOUNT_SID=AC837987fb64758052d7e9dcda1ff35b91
TWILIO_AUTH_TOKEN=37d61706a06b2577c14e65ed199c88a0
TWILIO_SERVICE_SID=VA335061335e3fcc1c76ae1d1a44b6cad6
ACCESS_TOKEN_SECRET=ya29.a0AbVbY6MlxGb6j8ZDHG0VVXx48M2FZxMnFg55d1EfIwAJptpclCs04WmeDTAHCeYVw7mvApPzGg6czy3HyK8AaafhDF4zFySQ_BD8PPjtaXm7qHwE7bjHaTcK6d1acyyvBAHvIwAb9aKWwAKPVfLZWU9dOOr_aCgYKAWQSARISFQFWKvP>
REFRESH_TOKEN_SECRET=userrefreshtokencstart
ACTIVATION_TOKEN_SECRET= ya29.a0AfB_byAIREc37iIiGxBHNCLlbLM36yKBoj-IAPPGjaGGXlWu_wGiCKm0VeD_zlzUEVulY5NPOqyAvbHHEaBkstAo8X_1h1DP_5JQTpminP0cGPg-EYD5TdUzfp95V1wETrd8NqB64uq9kXIc4b9VZgoyfWqDl4nNxqp0aCgYKAW>
MAILING_SERVICE_REFRESH_TOKEN=1//04soMeM9u6UIkCgYIARAAGAQSNwF-L9IrAusxRtK3enlY01-qZ3WA1oZHfI99cso_dcs8WRfqhhZQb20eYvq5z5_Jph5pjOxVGr0
SENDER_EMAIL_ADDRESS=wabuyajames@gmail.com
GOOGLE_CLIENT_ID=237696695247-uoh1tqgnt9dutji3g5kui2snuvpg77c2.apps.googleusercontent.com 
GOOGLE_CLIENT_SECRET=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
FACEBOOK_ID=1510578636115936
FACEBOOK_SECRET=722fbbc083f92fd66418c0457d3d90d5
JWT_TOKEN=jwtwaridisecrettoken
JWT_REFRESH_TOKEN=jwtwaridirefreshtoken
PLACES_API_ENDPOINT = https://maps.googleapis.com/maps/api/place/findplacefromtext/json
PLACES_SEARCH_API_ENDPOINT = https://maps.googleapis.com/maps/api/place/nearbysearch/json
API_KEY = AIzaSyBzeeSqzpJVuKpMo_heVjhEmxWhf5PVsSE
